.col-md-6
    .block
        .block-title
            h2
                strong My Details
        form.form-horizontal.form-bordered
            .fieldset
                .form-group
                    .col-md-4
                        label.control-label Display Name
                    .col-md-8
                        input.form-control(type='text', ng-model="vm.user.display_name" ng-blur="updateUser()")
                .form-group(ng-class="{'has-error': vm.slugError}")
                    .col-md-4
                        label.control-label Profile Url
                    .col-md-8
                        .input-group
                            input.form-control(type='text', ng-model="vm.tempSlug" ng-change="checkSlug()" ng-blur="saveSlug()")
                            span.input-group-addon
                                i.fa.fa-asterisk(
                                    ng-class="{'fa-spin': vm.slugChanging || vm.slugError,  'text-danger': vm.slugError}"
                                )
                        span.help-block(ng-show='!vm.slugError') Your profile URL will be /users/{{vm.tempSlug}}
                        span.help-block.animation-slideDown(ng-show="vm.slugError") Slug must be unique
                .form-group
                    .col-md-4
                        label.control-label Email Address
                    .col-md-8
                        input.form-control(type='text', ng-model="vm.user.email" ng-blur="updateUser()")
    .block
        .block-title
            h2
                i.ace-icon.fa.fa-share.green
                strong
                |  Sharing
        form.form-horizontal.form-bordered
            .form-group
                label.col-md-2.control-label
                    i.fa.fa-facebook
                    |  Facebook
                .col-md-10
                    label.radio-inline(ng-repeat='item in sharing_options', ng-model='vm.user.activity_sharing_facebook', checkbox-bitfield=''
                    ng-change="updateUser()")
                        input(type='checkbox', value='{{item.power}}')
                        |  {{item.abbr}}
            .form-group
                label.col-md-2.control-label
                    i.fa.fa-twitter
                    |  Twitter
                .col-md-10
                    label.radio-inline(ng-repeat='item in sharing_options', ng-model='vm.user.activity_sharing_twitter', checkbox-bitfield=''
                    ng-change="updateUser()")
                        input(type='checkbox', value='{{item.power}}')
                        |  {{item.abbr}}
    .block
        .block-title
            h2
                i.fa.fa-envelope
                strong
                |  Email Notifications
        form.form-horizontal.form-bordered
            .form-group
                label.radio-inline(ng-repeat='item in sharing_options', ng-model='vm.user.email_notifications', checkbox-bitfield=''
                ng-change="updateUser()")
                    input(type='checkbox', value='{{item.power}}')
                    |  {{item.abbr}}
.col-md-6
    .block
        .block-title
            .block-options.pull-right
                a.btn.btn-alt.btn-sm.btn-default(ng-click="updateUser()")
                    i.fa.fa-save
            h2
                strong My Description
                small This is experimental feedback appreciated 
        form.form-horizontal.form-bordered
            fieldset
                .form-group
                    .col-xs-12
                        textarea(
                            dss-ckeditor
                            on-change='updateDescription()'
                            ng-model='vm.user.description'
                            blur='updateUser()'
                            ng-blur='updateUser()'
                        )
